<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="entryTimestamp">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{getDate(element.entryTimestamp)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="plate">
    <mat-header-cell *matHeaderCellDef> Plate </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.plate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="exitTimestamp">
    <mat-header-cell *matHeaderCellDef> Exit Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{getDate(element.exitTimestamp)}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
